body {
	font-family:"PT Serif", Serif;
	font-weight: 400;
}

#content {
	overflow:hidden;

}

.hidden {
	display:none;	
}
.error {
	background-color:red;
	color:white;
}

h1,h2,h3,h4 {
	font-family: "PT Serif", Sans-serif;
	font-weight:700;
	text-transform: uppercase;
}

.button {
	cursor: pointer;
	opacity:0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
}

.button:hover {
	opacity:1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

#view{
	position:relative;
	width:100%;
}

#up, #down {
	height: 30px;
	background-color:gray;
}

#tracks {
}

.track_description {
	text-transform: uppercase;
	font-family: "PT Serif", Sans-serif;
}

.favorite {

}

.playing {

}

#spinner, #disconnect {
	display:none;
}

a {
	color:black;
}

a:hover {
	color:orange;
}

a:visited {
	color:gray;
}